<h1>El hombre increible</h1>
<font class="txt_normal">
<p>
  Es un superhéroe ficticio que aparece en los cómics estadounidenses publicados por la editorial Marvel Cómics. El personaje fue creado por Stan Lee y Jack Kirby siendo su primera aparición en The Incredible Hulk #1 publicado en mayo de 1962. En todas sus apariciones, Hulk es retratado como un ser de forma humanoide de piel verde que posee una fuerza, resistencia y velocidad sobrehumanas casi ilimitadas, además de poseer un factor de curación y regeneración sumamente eficientes los cuales incrementan su poder a medida que su furia aumenta. Su alter ego es el doctor Bruce Banner un genio científico quien, debido a la exposición a la radiación gamma, se transforma en Hulk cuando su corazón late a una velocidad insalubre. Hulk es la forma adoptada por Bruce Banner cada vez que está estresado o enfurecido. Esto se debe a la exposición de radiación gamma en un experimento tratando de encontrar una manera de hacer a los seres humanos inmunes a la radiación gamma. Bruce tiene recuerdos de cuando estaba en su forma de Hulk.
<p/>
<%= image_tag("hulk.png") %>
