<h1>Thor</h1>
<font class="txt_normal">
<p>
  Thor Odinson es un príncipe-guerrero Asgardiano, el Dios del Trueno, y un protector auto-proclamado de la Tierra. Thor, posteriormente, se volvió muy conocido por sus acciones en la Tierra. Thor tuvo una infancia buena, criado en Asgard como el atesorado hijo de Odín y su esposa Frigga. Su mejor amigo y compañero de juegos era su hermano adoptivo Loki, y aunque eran rivales por el trono de su padre, ellos todavía permanecían compañeros cercanos.
<p/>
<%= image_tag("thor.jpeg") %>
